<div class="container d-flex justify-content-center align-items-center w-100">
  <div class="row">
    <div class="col-sm p-2 left-col">

    </div>
    <div class="col-sm d-flex justify-content-center right-col">
      <div class="text-center d-flex flex-column  align-items-center" style="width: 100%" >
        <h2 class="text-dark">Sign Up</h2>
        <p class="text-dark">please sign Up first!</p>

        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="d-flex flex-column w-100 align-items-center">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Email/Username</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>

          <!--        error message-->

          <div class="alert alert-danger d-flex align-items-center pa-2 w-90 error-msg" *ngIf="errorMessage" >
            <mat-icon>
              info
            </mat-icon>
            {{errorMessage}}
          </div>

          <!--        progress spinner-->
          <div class="d-flex align-items-center" *ngIf="isSubmissionInProgress">
            <mat-spinner  [diameter]="22">
            </mat-spinner>
            Signing-up...

          </div>
        <button type="submit" mat-raised-button class="d-block sign-in mb-3 ">
          Sign-Up
        </button>
        </form>
        <button mat-raised-button class="d-block sign-in" (click)="onSignInWithGoogle()">
          Sign-Up with Google
        </button>

        <p class="text-sm-center mt-1">
          You have an account?
        </p>

        <button mat-raised-button [routerLink]="['/auth/sign-in']" class="d-block sign-up" color="primary">
          Sign-In
        </button>

        <a [routerLink]="['/auth/forgot-password']" class="d-block mt-2">
          Forgot Password
        </a>
      </div>
    </div>
  </div>
</div>

