<div class="container d-flex justify-content-center align-items-center w-100">
  <div class="row">
    <div class="col-sm p-2 left-col">

    </div>
    <div class="col-sm d-flex justify-content-center right-col">
      <div class="text-center d-flex flex-column  align-items-center" style="width: 100%" >
        <h2 class="text-dark">Sign Up</h2>
        <p class="text-dark">please sign Up first!</p>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Email/Username</mat-label>
          <input type="text" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Password</mat-label>
          <input type="password" matInput>
        </mat-form-field>

        <button mat-raised-button class="d-block sign-in mb-3 ">
          Sign-Up
        </button>
        <button mat-raised-button class="d-block sign-in">
          Sign-Up with Google
        </button>

        <p class="text-sm-center mt-1">
          You have an account?
        </p>

        <button mat-raised-button [routerLink]="['/auth/sign-in']" class="d-block sign-up" color="primary">
          Sign-In
        </button>

        <a [routerLink]="['/auth/forgot-password']" class="d-block mt-2">
          Forgot Password
        </a>
      </div>
    </div>
  </div>
</div>

