<div class=" d-flex flex-column bg-dark main-div">
  <div class="p-2"><h4 class="text-warning">Todo Details</h4>
  </div>
  <div class="d-flex flex-column p-2">
    <p class="text-white"><strong class="text-info">User ID:</strong> {{ data.userId }}</p>
    <p class="text-white"><strong class="text-info">ID:</strong> {{ data.id }}</p>
    <p class="text-white"><strong class="text-info">Title:</strong> {{ data.title }}</p>
    <p class="text-white"><strong class="text-info">Status:</strong> {{ data.completed ? 'Completed' : 'Pending' }}</p>
  </div>
</div>
